body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

/*----------------------UNIVERSAL------------------*/

a {
    display: block;
    text-decoration: none!important;
    color:#000;
    margin-top: 20px;
    margin-bottom: 50px;
}

.col {
    text-align: center;
}

.circle_img {
    width:300px;
    height:300px;
    border-radius: 50%;
    visibility: hidden;
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

i {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


/*--------------------------IMAGES BANNER SECTION------------------*/

#img_background img {
    height: 100%;
    width:100%;
}

#img_background {
    padding: 0;
    overflow: hidden;
}

.brand_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 115, 0 ,1);
}

/*--------------CSS ANIMATIONS & COLOUR DIVS-----------*/

#search_helper {
    text-align: center;
    margin-top: 40px;
    display: none;
}

h1 {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
    font-size: 10rem;
    padding: 30px;
    font-weight: 900;
    margin: auto;
}

.glow {
    text-shadow: 0 0 20px yellow;
}


/*------------------------------INPUT BUTTON SECTION-------------------*/

#button_list {
    overflow: hidden;
}

.col_btn {
    display: flex;
}

input {
    width:100%;
    padding: 35px;
    background-color: #000;
    color:#fff;
}

/*----------------FEST GUIDE------------------------*/

#fest_guide {
    margin-top: 100px;
}

.h2_title {
    margin-bottom: 20px;
}

.a_link {
    visibility: hidden;
}

.helper_text {
    font-weight: 300;
}

.p_text {
    margin-bottom: 20px;
}

/*----------------GOOGLE MAPS------------------------*/

#map {
        height: 400px;  /* The height is 400 pixels */
        width:100%;
       }

/*-----------------MEDIA QUERIES--------------------*/

/*IMAGES BANNER SECTION*/

@media screen and (max-width:1200px) {
    
    #bottom_row {
        display:none;
    }
}

@media screen and (max-width:1000px) {
    
    #middle_row {
        display:none;
    }
}

@media screen and (max-width:768px) {
    
    .brand_title {
        top:25%;
    }
}

@media screen and (max-width:500px) {
    
    .brand_title {
        top:20%;
    }
    
    h1 {
        font-size: 3rem;
        padding:10px;
    }
}

/*INPUT MENU BAR*/

@media screen and (max-width:800px) {
    
    .col_btn {
        display: block;
    }
    
    input {
        padding: 20px;
    }
}

@media screen and (max-width:500px) {
    
    input {
        padding: 15px;
    }
}

/*FEST GUIDE*/

@media screen and (max-width:500px) {
    
    #fest_guide {
        margin-top: 50px;
    }
}
