

/*----------------------UNIVERSAL------------------*/

a {
    display: block;
}

.col {
    text-align: center;
}

.circle_img {
    width:300px;
    height:300px;
    border-radius: 50%;
    visibility: hidden;
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/*--------------------------IMAGES BANNER SECTION------------------*/

#img_background img {
    height: 100%;
    width:100%;
}

#img_background {
    padding: 0;
    overflow: hidden;
}

/*--------------CSS ANIMATIONS & COLOUR DIVS-----------*/

input:hover {
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
    text-shadow: 1px 1px 10px yellow;
}








/*------------------------------INPUT BUTTON SECTION-------------------*/

#button_list {
    overflow: hidden;
}

.col_btn {
    display: flex;
}

input {
    width:100%;
    padding: 35px;
    background-color: #000;
    color:#fff;
}

/*----------------FEST GUIDE------------------------*/

#fest_guide {
    margin-top: 200px;
}

.h1_title {
    margin-bottom: 20px;
}

.a_link {
    visibility: hidden;
}


/*-----------------MEDIA QUERIES--------------------*/

/*IMAGES BANNER SECTION*/

@media screen and (max-width:1200px) {
    
    #bottom_row {
        display:none;
    }
}

@media screen and (max-width:1000px) {
    
    #middle_row {
        display:none;
    }
}

/*INPUT MENU BAR*/

@media screen and (max-width:800px) {
    
    .col_btn {
        display: block;
    }
    
    input {
        padding: 20px;
    }
}

@media screen and (max-width:500px) {
    
    input {
        padding: 15px;
    }
}



